<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{% url 'noticias:inicio' %}" class="nav-link px-2">Noticias</a></li>
        <li><a href="{% url 'nosotros' %}" class="nav-link px-2">Nosotros</a></li>
        <li><a href="{% url 'noticias:contacto' %}" class="nav-link px-2">Contacto</a></li>
    </ul>

    <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
        Bienvenido {{ user.username }}
        <button type="button" class="btn btn-primary"><a class="nav-link" href="{% url 'logout' %}">Cerrar
                sesion</a></button>
        {% else %}
        <button type="button" class="btn btn-outline-primary me-2"><a class="nav-link" href="{% url 'login' %}"> iniciar
                sesion</a></button>
        <button type="button" class="btn btn-outline-primary me-2"><a class="nav-link"
                href="{% url 'usuarios:registro' %}">Registrar</a></button>
        {% endif %}
    </div>
</header>