{% extends 'base.html' %}
{% load static %}

{% block titulo%}Noticia{%endblock titulo%}

{% block contenido%}

<h1>{{noticia}}</h1>
<img src="{{noticia.imagen.url}}" alt="" width="150">
<p>{{noticia.cuerpo}}</p>
<p>{{noticia.fecha}}</p>
<p>{{noticia.categoria_noticia}}</p>


<form action="{% url 'noticias:comentar' %}" method="post">{% csrf_token %}

    <textarea name="comentario" cols="30" rows="3"></textarea>
    <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
    <input type="submit" value="comentar">

</form>
<h3>Comentarios</h3>
{% for com in comentarios %}

<p><strong>{{ com.usuario }}</strong> {{ com.fecha }}</p>
<p> comentario: {{ com.texto }}</p>

{% endfor %}

{% endblock contenido%}